<main>
      <!-- signin -->
      <div class="row">
        <div class="col-12">
          <div class="form-wrapper-login">
            <form action="/login" method="post">
              <div class="form-content">
            <div class="heading">
              Quản Lý Thư Viện
            </div>
                <div class="form-input">
                  <div class="input-text">
                    <input
                      type="text"
                      name="username"
                      id="username"
                      placeholder="Tên đăng nhập"
                    />
                  </div>
                  <div class="input-text">
                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Mật Khẩu"
                    />
                  </div>
                </div>
                <div class="form-submit-login">
                  <button type="submit" name="login">Đăng nhập</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- modal-signup -->
      
    </main>